body {
<<<<<<< HEAD
	background-image: url("../res/img/andromeda.jpg");
=======
<<<<<<< HEAD
	background-image: url("../res/img/andromeda.jpg");
=======
	background-image: url(../res/img/andromeda.jpg)
>>>>>>> 9e032bc8d51cfd191dba46fbc52a61e5200ad71b
>>>>>>> f617093a9e81c10f99e10a428765dae38a69c9e2
}