@import url(http://fonts.googleapis.com/css?family=Abel);

html, body {
    width: 100%;
    height: 100%;
    font-family: "Abel", Helvetica, Arial;
}

.earth {
    background: url(../res/img/background-space.jpeg);
    background-size: cover;
    background-attachment: fixed;
    color: #ccc;
}

.bg-primary {
    background-color: #222;
}

@media (max-width: 768px) {
    .earth {
        background-attachment: scroll;
        background-size: cover;
    }
}

.header, .full {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

hr.small {
    max-width: 250px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.slide {
    position: relative;
    border-bottom: 1px solid black;
}

p {
    text-align: center;
    font-size: 18px;
}

.outlets {
    font-size: 48px;
}

.footer {
    background-color: #333;
    color: white;
}

.init-opacity {
    opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
