@font-face {
	font-family: "Minecraftia";
	src: url("../res/font/Minecraftia.ttf");
}

@-webkit-keyframes splash {
	0% {
		-webkit-transform: scale(1,1) rotate(-10deg);
		-moz-transform: scale(1,1) rotate(-10deg);
		-o-transform: scale(1,1) rotate(-10deg);
		transform: scale(1,1) rotate(-10deg);
	}
	50% {
		-webkit-transform: scale(1.1,1.1) rotate(-10deg);
		-moz-transform: scale(1.1,1.1) rotate(-10deg);
		-o-transform: scale(1.1,1.1) rotate(-10deg);
		transform: scale(1.1,1.1) rotate(-10deg);
	}
	100% {
		-webkit-transform: scale(1,1) rotate(-10deg);
		-moz-transform: scale(1,1) rotate(-10deg);
		-o-transform: scale(1,1) rotate(-10deg);
		transform: scale(1,1) rotate(-10deg);
	}
}

@keyframes splash {
	0% {
		-webkit-transform: scale(1,1) rotate(-10deg);
		-moz-transform: scale(1,1) rotate(-10deg);
		-o-transform: scale(1,1) rotate(-10deg);
		transform: scale(1,1) rotate(-10deg);
	}
	50% {
		-webkit-transform: scale(1.1,1.1) rotate(-10deg);
		-moz-transform: scale(1.1,1.1) rotate(-10deg);
		-o-transform: scale(1.1,1.1) rotate(-10deg);
		transform: scale(1.1,1.1) rotate(-10deg);
	}
	100% {
		-webkit-transform: scale(1,1) rotate(-10deg);
		-moz-transform: scale(1,1) rotate(-10deg);
		-o-transform: scale(1,1) rotate(-10deg);
		transform: scale(1,1) rotate(-10deg);
	}
}

@-webkit-keyframes animation {
	0% {
		color: red; 
		-webkit-transform: scale(1,1) rotate(-10deg);
		-moz-transform: scale(1,1) rotate(-10deg);
		-o-transform: scale(1,1) rotate(-10deg);
		transform: scale(1,1) rotate(-10deg);
	}
	20% {color: blue;}
	40% {color: orange;}
	50% {
		-webkit-transform: scale(1.1,1.1) rotate(-10deg);
		-moz-transform: scale(1.1,1.1) rotate(-10deg);
		-o-transform: scale(1.1,1.1) rotate(-10deg);
		transform: scale(1.1,1.1) rotate(-10deg);
	}
	60% {color: yellow;}
	80% {color: green;}
	100% {
		color: red;
		-webkit-transform: scale(1,1) rotate(-10deg);
		-moz-transform: scale(1,1) rotate(-10deg);
		-o-transform: scale(1,1) rotate(-10deg);
		transform: scale(1,1) rotate(-10deg);
	}
}

@keyframes animation {
	0% {color: red;}
	20% {color: blue;}
	40% {color: orange;}
	60% {color: yellow;}
	80% {color: green;}
	100% {color: red;}
}

#container {
	font-family: "Minecraftia";
	margin: 50px 50px 50px 50px;
	background-color: rgba(255,255,255,0.7);
	height: 100%;
	text-indent: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#title {
	width: 750px;
	height: 250px;
	margin: auto;
}

.header {
	text-align: center;
}

#splash {
	text-align: left;
	color: yellow;
	text-shadow: 2px 2px #424242;
	transition: color 500ms;
	-webkit-transition: color 500ms;
	-webkit-animation: splash 500ms linear infinite;
	-moz-animation: splash 500ms linear infinite;
	-o-animation: splash 500ms linear infinite;
	animation: splash 500ms linear infinite;
}

#splash:hover {
	color: lightcoral;
}

#splashContainer {
	float: right;
	margin-top: -50px;
}

#noIndent {
	text-indent: 0px;
}

a {
	transition: color 500ms;
	-webkit-transition: color 500ms;
}

a:link {
	color: red;
}